---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Aktuelle Blogartikel</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Mehr Artikel gibts im <a href="{{ '/posts/' | url }}">Archiv</a>.</p>

<h2>Aktuelle Videos</h2>

{% set videolist = collections.videos | head(-3) %}
{% set videolistCounter = collections.videos | length %}
{% include "videolist.njk" %}
<p>Mehr Videos gibts <a href="{{ '/videos/' | url }}">hier</a>.</p>
