.branding {
    min-height: 130px;
    color: #f9c6d8;
    padding-bottom: 60px;
    background-color: #f02970;
    background-image: linear-gradient(-2deg, #ffffff 0%,#ffffff 30%,#f02970 31%,#f02970 100%);
}

.branding--inverse {
    padding-top: 60px;
    padding-bottom: 0;
    background-image: linear-gradient(-2deg, #f02970 0%,#f02970 70%,#ffffff 71%,#ffffff 100%);
}

.branding__title {
    color: #fff;
    margin: 0;
}

.branding a {
    color: #fff;
    text-decoration: none;
}

.branding__title a:hover {
    color: #fff;
}