---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto mb-6">
            {% for tag in post.data.tags %}
                {%- if collections.tagList.indexOf(tag) != -1 -%}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="text-base text-center leading-6 text-indigo-600 font-semibold tracking-wide uppercase">{{ tag }}</a>
                {%- endif -%}
            {% endfor %}

            <h1 class="mt-2 mb-8 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">{{ title }}</h1>
        </div>
        <div class="prose prose-lg text-gray-500 mx-auto">
            {{ content | safe }}
            <p><a href="{{ '/' | url }}">← Home</a></p>
        </div>
    </div>
</div>
